crawl4ai>=0.7.4
fastapi>=0.116.2
flask>=3.1.0
flask-cors>=6.0.1
jieba>=0.42.1
langchain_openai>=1.0.0
mcp>=1.8.0
neo4j>=5.26.0
openai>=2.6.1
PyQt5>=5.15.9
pytz>=2023.3
python-dateutil>=2.8.2
requests>=2.31.0
uvicorn>=0.38.0